body{
    overflow: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    cursor: pointer;
    transition: .4s;
}

header h1:hover {
    color: rgb(80, 80, 150);
}
header nav{
    transition: 3s;
    left: 0;
}
header h1:hover + nav {
    position: relative;
    left: 375px;
}


header nav ul {
    font-size: 18px;
    display: flex;
    gap: 14px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

/* 0 ~ 600 px */
@media screen and (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }
}